    cor1.vermelho {
    border-width: 100px;
    border-color: red;
    }

    cor2.laranja {
    border-width: 200px;
    border-color: orange;
    }

    cor3.amarelo {
    border-width: 300px;
    border-color: yellow;
    }

    cor4.verde {
    border-width: 400px;
    border-color: green;
    }

    cor5.azul {
    border-width: 500px;
    border-color: rgb(0, 140, 255);
    }

    cor6.cobalto {
    border-width: 600px;
    border-color: blue;
    }

    cor7.roxo {
    border-width: 700px;
    border-color: purple;
    }
